@model CraCode.ModelLayer.Models.Student
@{
    ViewBag.Title = "StudentRegister";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<br />
<br />
<br />
<br />
<br />

<div class="">
    <hr />
    <h2> Register Student</h2>
    <hr />

    @using (Html.BeginForm("StudentRegister", "Account", FormMethod.Post))
    {
        <!-- Quick Register buttons -->
        <div class="text-md-start">
            <p>or sign up with:</p>
            <button type="button" class="btn btn-secondary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-secondary btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-secondary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-secondary btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>

        <br />

        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row">
            <div class="form-check-inline col-md-3">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-check-inline col-md-3">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>

        <br />

        <!-- Email input And Mobile No input-->
        <div class="row">
            <div class="form-check-inline col-md-3">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
            </div>
            <div class="form-check-inline col-md-3">
                @Html.LabelFor(m => m.MobileNumber)
                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control" })
            </div>
        </div>

        <br />
        <!-- Password input and Confirm Password -->
        <div class="row">
            <div class="form-check-inline col-md-3">
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
            </div>

            <div class="form-check-inline col-md-3">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>

        </div>
        <br />

        <!-- Get Update Checkbox -->
        <div class="row">
            <div class="form-check-inline col-md-3">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" name="GetUpdateFlag" />
                <label class="form-check-label" for="form2Example3">
                    @Html.LabelFor(m => m.GetUpdateFlag)
                </label>
            </div>
        </div>
        <br />

        <!-- Submit button -->
        <button type="submit" class="get-started-btn">Sign up</button>

    }
</div>
